*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: arial, sans-serif;
  background-color: #fdf5e5;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
}

.logo img{
  width: 200px;
  height: auto;
  object-fit: contain;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
    color: #0948f0;
    font-weight: bold;
    position: relative; 
    padding: 5px 0;
}

.nav-links a.active::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color:#feb6b7; 
  border-radius: 2px;
}

.contact-button{
    background-color: #0948f0;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    text-align: right;
    display: inline-block;
    align-items: center;
    font-weight: bold;
    display: flex;
    gap: 8px;
}

.contact-button img{
  width: 12px;
  height: 12px;
}

.hero{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 90px;
    overflow-x: hidden;
    position: relative;
    
}

.hero-text{
    flex: 1;
    margin-top: 7%;
    
}

.hero-text h1{
    font-size: 28px;
    color: #0948f0;
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 20px;
    font-size: 18px;
    color:#6e80d5;
}
  
.start-button {
    background-color: #fea501;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

  .start-button:hover{
    background-color: #ffb347;
  }
  
  .hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-left: 50px; 
    box-sizing: border-box;
    overflow: visible;
  }

  .image-background {
    background-color: #feb6b7; 
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 690px;
    height: 450px;
    position: relative;
    right: -18%;
    top: -30px; 
    z-index: 1;
    overflow: visible;
  }

  .image-background img {
    width: 100%;
    object-fit: contain;
  }

  .animal-dog {
  height: 450px;
  z-index: 0;
  position: relative;
  right: -20%;
}

.animal-cat {
  position: absolute;
  left: -30%;
  top: -32px;
  z-index: 1; 
}

.metrics {
  background-color: #0948f0;
  display: flex;
  justify-content: center;
  padding: 22px 0;
  text-align: center; 
  width: 100%;
  z-index: 2;
  position: absolute;
  bottom: -30px;
  gap: 8%;
  }
  
.metrics-item{
  display: flex;
  align-items: center;
  gap: 8px;
}

  .metrics-item h2 {
    font-size: 50px;
    font-family: Arial, sans-serif;
    color: #8dc2fd;
    font-weight: 900;
  }
  
  .metrics-item p {
    font-size: 18px;
    margin-top: 10px;
    color: white;
    text-align: left;
  }

  .separador {
    width: 1px;
    height: 50px;
    background-color: #8dc2fd;
    margin-top: 13px;
  }

  .how-it-works {
    margin-top: 80px;
    padding: 30px 90px;
    text-align: center;
  }  

  .subtitle {
    font-weight: 300;
    color: #6e80d5;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .title {
    font-weight: 700;
    font-size: 35px;
    color: #1C3BFF;
    margin-bottom: 40px;
  }

  .steps {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 40px;
    align-items: center;
  }

  .step {
    max-width: 250px;
    text-align: center;
  }

  
  .step h3 {
    font-weight: 600;
    font-size: 18px;
    color: #1C3BFF;
    margin-bottom: 10px;
    border-bottom: 2px solid #feb6b7;
    display: inline-block;
  }
  
  .step p {
    font-weight: 400;
    font-size: 15px;
    color: #7283BA;
    line-height: 1.5;
  }
  
  .more-info-btn {
    background-color: #fea501;
    color: white;
    font-weight: 600;
    font-size: 13px;
    padding: 10px 24px;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .more-info-btn:hover {
    background-color: #ffb347;
  }

  .pegadas-triangulo {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .pegadas-triangulo .pegada {
    width: 55px;
    height: auto;
    position: absolute;
  }
  
  .pegada.esquerda {
    left: 35%;
    top: 15px;
  }
  
  .pegada.centro {
    left: 48%;
    top: 3;
  }
  
  .pegada.direita {
    left: 58%;
    top: 15px;
  }

  .wave-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
  }
  
  .wave-top svg {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }

  .wave-bottom {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
    transform: rotate(180deg); /* espelha a onda */
  }
  
  
  .pets-section {
    background-color: #fbb1b0;
    position: relative;
    padding-top: 10%;
    text-align: center;
    padding-bottom: 2%; 
  }
  
  .pets-section h2 {
    color: #1d2ec6;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .pets-section .subtitle {
    max-width: 900px;
    margin: 0 auto 50px;
    font-size: 15px;
    color: #1d2ec6;
    line-height: 1.6;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

  }
  
  .card {
    background-color: #fff;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    text-align: left;
    transition: transform 0.2s;
    overflow: hidden;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    width: 100%;
    height: 160px;
    margin-bottom: 15px;
    object-fit: cover;
  }
  
  .card .type {
    font-size: 12px;
    font-weight: bold;
    color: #1d2ec6;
     margin: 10px 15px 0;
  }
  
  .card h3 {
    margin: 8px 0;
    font-size: 18px;
    color: #1d2ec6;
    margin: 5px 15px;
  }
  
  .card p {
    font-size: 14px;
    color: #1d2ec6;
    margin-bottom: 10px;
    margin: 10px 15px;
  }
  
  .card ul {
    list-style: disc;
    padding-left: 18px;
    font-size: 13px;
    color: #1d2ec6;
    margin: 10px 15px 15px;
  }
  
  .see-all-container {
    text-align: right;
    padding-right: 8%;
  }

  .see-all {
    display: inline-flex;
    margin-top: 40px;
    font-size: 14px;
    color: #1d2ec6;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid;
  }

 .perguntas{
  background-color: #fdf5e5;
  position: relative;
  padding: 80px 90px;
 }

 .faq-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  }

  .faq-left {
  flex: 1;
  max-width: 45%;
}

.faq-left h2 {
  font-size: 30px;
  color: #1d2ec6;
  margin-bottom: 15px;
}

.faq-left p {
  font-size: 16px;
  color: #7283ba;
  margin-bottom: 30px;
  line-height: 1.5;
}

.faq-illustration-box {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 230px;
  margin-top: 30px;
}

/* Fundo azul arredondado */
.faq-background {
  background-color: #a1bbea;
  border-radius: 20px;
  width: 92%;
  height: 65%;
  position: absolute;
  top: 45px;
  left: 50px;
  z-index: 0;
}

/* Imagem do cachorro branco */
.img-cachorro-1 {
  position: absolute;
  left: -30px;
  top: 1%;
  width: 65%;
  z-index: 1;
}

/* Imagem do cachorro na casinha */
.img-cachorro-2 {
  position: absolute;
  right: -20%;
  width: 70%;
  z-index: 1;
  top: -4%;
}

.faq-right {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faq-box {
  background-color: white;
  border-radius: 15px;
  padding: 15px 20px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.faq-line {
  border-bottom: 1px solid #eee;
}

.faq-line:last-child {
  border-bottom: none;
}

.faq-question {
  cursor: pointer;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3c5dd8;
  font-weight: bold;
  transition: background-color 0.3s;
}

.faq-question:hover {
  background-color: #f5f6ff;
}

.icon {
  transition: transform 0.3s ease;
  font-size: 25px;
}

.faq-answer {
  margin-bottom: 2px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  color: #555;
  font-size: 14px;
}

.faq-answer.open {
  padding: 16px 20px;
}

.contato {
  background-image: url('imagens/fundo3.jpeg');
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: 120px 20px;
}

/* O fundo azul translúcido por cima */
.contato-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(81, 104, 212, 0.8); 
  z-index: 1;
  top: 0;
  left: 0;
}

.form-box {
  background: #fff7e6;
  border-radius: 20px;
  padding: 40px;
  z-index: 2;
  max-width: 600px;
  width: 100%;
  position: relative;
  left: 20px;
}

.form-box h2 {
  color: #1d2ec6;
  margin-bottom: 10px;
  text-align: center;
}

.form-box p {
  color: #6e80d5;
  text-align: center;
  margin-bottom: 30px;
  font-size: 14px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #1d2ec6;
}

input,
textarea,
select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

.form-check {
  margin-bottom: 20px;
  font-size: 13px;
}

.form-check input {
  margin-right: 2px;
  
}

.form-check a {
  color: #2d3db0;
}

.form-botao img{
  width: 45px;
  height: 45px;
}

.button-container{
  text-align: right;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.form-botao {
  background:#ffa9aa;
  color: #0948f0;
  padding: 0 2px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
  display: flex;
}

.form-botao:hover {
  background-color: #ffa9aacc;
}

.envio {
  margin-left: 12px;
  font-weight: bold;
  font-size: 14px;
}

.wave-top2 {
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 80px;
    overflow: hidden;
  }

.wave-bottom2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    transform: rotate(180deg); /* espelha a onda */
    z-index: 1;
  }
  
.footer{
  background-color: #0948f0;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px;
  padding: 0 10px;
  margin-top: -70px;
}

.footer-icon {
  width: 50px;
  height: auto;
  margin-top: 40px;
}

.footer-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10%;
  flex: 1;
  min-width: 200px;
}

.footer-center img {
  width: 200px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: -70px;
  justify-content: center;
}

.footer-links li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-right a img {
  width: 21px;
  margin-top: 50px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.footer-right a:hover img {
  transform: scale(1.2);
}